node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
vite.config.js
vite.config.d.ts
test-results
playwright-report
/blob-report
.playwright
.env
.env.*
!.env.example
.firebase
firebase-debug.log
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
